section{
    width: 100%;
}
.background-container {
  background-image: url("../assets/office.png");
  background-size: right bottom, left top; 
  background-position: right;
  /* background-repeat: no-repeat; */
  height: 100%;
  width: 100%; 
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: antiquewhite;
}

.login-container h2 {
  text-align: center;
}

.login-container form div {
  margin-bottom: 15px;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
}

.login-container input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.login-container button {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #218838;
}

.input-container {
  margin-bottom: 15px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
}

.input-icon {
  position: relative;
}

.input-icon svg {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #888;
}

.input-icon input {
  width: 100%;
  padding: 8px 8px 8px 40px;
  box-sizing: border-box;
}


.input-senha{
    position: relative;
}

.input-senha svg{
    position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-25%);
  color: #888;
}